@page
@model NotesApp.Pages.EditNotesModel
@{
}

<form id="note" method="post">
    <hr />

    <div class="title">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="input-title" aria-required="true" />

    </div>

    <div class="text">
        <label asp-for="Text"></label>

        <input asp-for="Text" class="input-content" aria-required="true" />
    </div>

    <div>
        <button id="input-text" type="submit" class="btn btn-primary">Save</button>
    </div>



</form>

