@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="first-view">

    <div class="text-first-view">
        <h1 class="home-main-title">Welcome to Notes World</h1>
        

    </div>

</div>

