@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>
        We make it a matter of pride to respect the privacy of our users and to treat their personal data in the strictest confidentiality and in accordance with the legislation in force.

        The privacy policy is intended to inform you, in a transparent manner, about the data we collect, the purpose for collecting it, the way we use it and the rights you have regarding the processing of such data.

        On this page, we provide you with a simplified version of our privacy policy in the form of questions and answers. We invite you to also read the detailed version available below.

        We draw your attention to the need to read this privacy policy carefully. If you have any other questions, do not hesitate to contact us at the following address: notebookforqueens.com
    </p>



    <p>
        WHO IS RESPONSIBLE FOR PROCESSING YOUR DATA?
        "Notebook for Queens" is the controller of your personal data.
    </p>


    <p>
        WHAT DATA DO WE COLLECT?
        We collect your data – personal or otherwise – for various reasons which are defined in the following point (see point 3). It includes the following data:
    </p>

    <p>your identifying information (surname, first name, e-mail address, delivery address and country);</p>
    <p>the type of domain with which you connect to the Internet;</p>
    <p>the IP address assigned to you;</p>
    <p>the date and time of your access to our website;</p>
    <p>the pages you viewed on our website;</p>
    <p>the type of browser, platform and/or operating system you are using;</p>
    <p>the search engine and the keywords used to find the website;</p>
    <p>your browsing preferences.</p>


    <p>
        WHY DO WE COLLECT YOUR DATA?
        We collect your data mainly to provide our services, send you our newsletter, improve our service and, more generally, to easily communicate with each other. Finally, your data also allows us to improve and facilitate your navigation on our website. The legal bases for processing your data are listed in the full version of the Privacy Policy.
    </p>



    <p>
        HOW DO WE COLLECT YOUR DATA?
        Most of your data is communicated to us by your active intervention. Other data, such as the date and time of your access to our website, the pages you have viewed, or your location data, are collected automatically through servers consulted and “cookies” placed on our website. For more information on what a cookie is, how it is used and the exact data it collects, visit our page concerning our cookie policy.
    </p>



    <p>
        ARE YOUR DATA PROTECTED?
        We take pride in respecting the privacy of our users. We maintain a strict privacy policy and take all appropriate measures to ensure that our servers prevent, to the extent possible, any unauthorized leak, destruction, loss, disclosure, use, access or modification of your data.
    </p>



    <p>
        HOW LONG DO WE STORE YOUR DATA?
        We keep your data for the time necessary to accomplish the objectives pursued (see point 3). Once this goal is achieved, we either delete or anonymize them.
    </p>



    <p>
        WHAT ARE YOUR RIGHTS AND HOW CAN THEY BE EXERCISED?
        You may, at any time, request to verify, access, rectify, delete, transfer and object to the use of your data, as well as request the limitation of such use of your data. To do so, simply send us an email. We will then make every effort to take the necessary action as soon as possible.
    </p>



    <p>
        WHO HAS ACCESS TO YOUR DATA AND TO WHOM ARE THEY COMMUNICATED?
        Our employees have access to it only to the extent necessary for processing your request and/or for fulfilling the objectives pursued (see point 3). Each of them is subject to a strict obligation of confidentiality.
    </p>



    <p>
        DO WE TRANSFER YOUR DATA ABROAD?
        We only transfer your data to a non-EU country if it provides a level of protection equivalent to what you can find in your country of residence. (for more information, please consult the following link).
    </p>
    <p />


    <p>
        HOW TO RECEIVE OUR PRODUCTS?
        We only use your email address to offer you articles and products similar to those you have already ordered.

        With your consent or based on our legitimate interest based in particular on our relationship, we will subscribe you to our newsletter and offer you other similar articles that may interest you. You can unsubscribe and withdraw your consent to these communications at any time by sending an email to the following address: notebookforqueens@gmail.com.
    </p>



    <p>
        WHAT IS OUR POLICY ON DATA CONCERNING MINORS?
        Our website are not targeted to children under the age of 13. If you learn that your minor child has provided us with their personal data without your consent, contact us.
    </p>


</div>